iframe {
  display: none;
}

html {
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: beige;
}

.App {
  background-color: burlywood;
  padding: 50px 80px;
  border-radius: 15px;
  border: 1px solid black;

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
