iframe {
  display: none;
}

html {
  margin-top: 30vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #000;
}

.App {
  margin: 0 auto;

  &__message {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: darksalmon;
  }

  &__message-key {
    display: block;
    box-sizing: border-box;
    width: fit-content;
    min-width: 72px;
    height: 72px;
    margin: 32px auto;
    padding: 0 10px;
    color: black;
    font-size: 48px;
    text-align: center;
    line-height: 72px;
    background-color: rgb(179, 67, 67);
    border: darksalmon solid 3px;
    border-radius: 8px;
    transition: transform 0.05s linear,
      background-color 0.1s linear,
      color 0.1s linear,
      box-shadow 0.2s ease-in-out,
      border-radius 0.2s ease-in-out;
    
    &--keydown {
      transform: scale(1.3);
      border-radius: 24px;
      background-color: black;
      color: rgb(179, 67, 67);
      box-shadow: 0 0 10px 5px rgb(177, 179, 67);
    }
  }
}
